/* Style the car list container */
.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

/* Style the car card */
.car-card {
  background-color: #ffffff;
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  height: 70vh;
  width: 350px;
  margin: 10px;
  cursor: pointer;
}

/* Add hover effect to car card */
.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Style the car image */
.car-image {
  height: 200px;
  border-radius: 5%;
  margin: 0.5vw 0.5vw;
  background-size: cover;
  background-position: center;
}

/* Style the car details */
.car-details {
  padding: 15px;
}

.car-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.car-details h2,
.car-details h3 {
  margin: 0;
  font-weight: bold;
}/* Style the config items using CSS Grid */
.car-config {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 5px; /* Gap between items */
  padding: 10px 0; /* Adjust as needed */
}

.config {
  padding: 5px 10px;
}

/* Style the car footer */
.car-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the price */
.price {
  font-size: 16px;
  color: #007bff;
}

/* Style the Rent Now and Love React buttons */
.buttons {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.rent-button,
.love-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.rent-button {
  background-color: #007bff;
  color: #fff;
}

.love-button {
  background-color: transparent;
  color: #007bff;
}
