.car-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.car-card {
  background-color: #f0f5fb;
  border-radius: 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  height: 100%;
  width: 350px;
  margin: 10px;
  cursor: pointer;
}
.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
.car-image {
  height: 200px;
  border-radius: 5%;

  background-size: cover;
  background-position: center;
  margin: 2vh 2vh;
}
.car-details {
  padding: 15px;
}
.car-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.car-header > h3 {
  padding: 2px 5px;
  border: rgb(25, 145, 214);
  border-style: dashed;
  border-radius: 25%;
}
.car-details h2,
.car-details h3 {
  margin: 0;
  font-weight: bold;
}
.car-config {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding: 10px 0;
}
.config {
  padding: 5px 10px;
}
.car-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid none none none;
  border-color: rgba(0, 0, 0, 0.219);
  padding-top: 25px;
}
.price {
  color: #007bff;
  margin-right: 0px;
  font-family: "Gill Sans";
  font-weight: 400;
  font-size: x-large;
  margin-top: 0;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 0;
}
.rent-button,
.love-button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.rent-button {
  background-color: #007bff;
  color: #fff;
  margin-left: 2%;
  width: 100px;
  transition: transform 0.3s, box-shadow 0.3s;
}
.rent-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.love-button {
  background-color: transparent;
  color: #ff008c;
  display: flex;
  align-items: center;
  margin-left: 2px;
  transition: color 0.3s;
}
.love-button:hover {
  color: #48e91f;
}
.ri-heart-3-fill {
  padding-right: 2px;
  margin-left: 14px;
  font-size: 30px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination button {
  background-color: #fff;
  border: 1px solid #007bff;
  border-radius: 50%;
  color: #007bff;
  font-size: 16px;
  width: 32px;
  height: 32px;
  margin: 0 4px;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s;
}
.pagination button.active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}
.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.pagination button i {
  font-size: 40px;
}
.pagination button:hover {
  background-color: #007bff;
  color: #fff;
}
