/* Reset some default styles for consistency */
body, h1, h2, p {
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #007bff52;
}

/* Apply styles to the main container */
.App {
  font-family: Arial, sans-serif;
}

/* Style the navigation bar */
.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2vh 2vh;
  padding: 15px 20px;
  margin: 10px 10px;
}
.search-section{
  
  border-radius: 2vh 2vh;
  
}

/* Style the search section */
.search-section {
  display: flex;
  align-items: center;
}

/* Style the search input */
input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Style the search button */
button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style the dropdown containers */
.dropdowns {
  display: flex;
  align-items: center;
}

/* Style the individual dropdowns */
.dropdown {
  margin-left: 20px;
}

/* Style the label text for dropdowns */
label {
  font-weight: bold;
  margin-right: 5px;
}
