/* Reset some default styles for consistency */
body, h1, h2, p {
  margin: 0;
  padding: 0;
  
}
body{
  background-color: #007bff52;
}

/* Apply styles to the main container */
.App {
  font-family: Arial, sans-serif;
}

/* Style the navigation bar */
.navbar {
  background-color: #007bff52;
  color: white;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  border-radius: 2vh 2vh;
  padding: 15px 20px;
  margin: 10px 10px;
}
/* Add styles for the search button and icon */
.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button i {
  font-size: 20px;
  color: #007bff;
}
.ri-search-line:before {
  content: "\f0d1";
  margin-left: -5vw !important;
}
/* Add more styles as needed */


/* Style the search section */
.search-section {
  display: flex;
  align-items: center;
  width: 20vw;
}




/* Style the search input */
input[type="text"] {
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* Style the search button */
button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Style the dropdown containers */
.dropdowns {
  display: flex;
  align-items: center;
}

/* Style the individual dropdowns */
.dropdown {
  position: relative; /* To create a stacking context for z-index */
}

/* Style the select element (dropdown) */
.dropdown select {
  appearance: none; /* Remove default appearance (arrow) */
  background-color: transparent; /* Transparent background */
  border: none; /* Remove border */
  font-family: Arial, sans-serif; /* Specify font family */
  font-size: 16px; /* Specify font size */
  color: #000000; /* Text color */
  padding: 5px 10px; /* Add padding */
  cursor: pointer; /* Show pointer cursor on hover */
  outline: none; /* Remove focus outline */
  transition: background-color 0.3s ease; /* Add a smooth hover effect */
}

/* Style the select element on hover */
#category:hover select {
  background-color: #cf0b0b; /* Change background color on hover */
}
